@using Yanbal.SFT.Presentation.Web.Source.Resources.Shared
@using Yanbal.SFT.Presentation.Web.Source.Resources.Freight.Combination
@using Yanbal.SFT.Presentation.Web.Source.Models.Freight;
@using Yanbal.SFT.FreightManagement.Common.Messages;
@model CombinationModel

<div class="w-formulario-popup">
    <div class="w-title-2">
        @Html.Raw(IndexResource.LabelTitleEdit)
    </div>
    <div id="divRequiredField">
        <span class="fa fa-info-circle"></span>
        <span>@GeneralResource.LabelRequiredField1<span class="danger">*</span>@GeneralResource.LabelRequiredField2</span>
    </div>
    <hr />
    <div class="w-form">
        <div id="divContainerEdit" class="w-item">
            <form id="frmEditCombination">
                <div id="divEditCombination">
                    <div class="row">
                        <input id="hdnCodeCombinationEdit" type="hidden" value="@Model.CodeCombination" />
                        <div class="col-md-12">
                            <div class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(IndexResource.LabelAmount)<span class="danger">*</span>:</label>
                                    <div class="col-sm-8">
                                        <input id="txtFreightAmountEdit" type="text" class="form-control" maxlength="9" value="@Model.AmountFreightString" validable="required FreightAmountReq" placeholder="@Html.Raw(IndexResource.LabelAmount)" mask="decimal" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(GeneralResource.LabelRegistrationStatus):</label>
                                    <div class="col-sm-8">
                                        <select id="slcRegistrationStatusEdit" data-bind="options: ListRegistrationStatus, optionsText: 'Name', optionsValue: 'Id', value: '@Model.RegistrationStatus'" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(GeneralResource.LabelModificationReason)<span class="danger">*</span>:</label>
                                    <div class="col-sm-8">
                                        <textarea id="txtModificationReasonEdit" class="w-textarea" maxlength="250" validable="Comment true" placeholder="@Html.Raw(GeneralResource.LabelModificationReason)"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="cnt-button">
        <input id="btnSaveEdit" class="btn btn-primary" type="button" data-bind="visible: Save.Visible, enable: Save.Enabled" value="@GeneralResource.LabelSave"/>
        <input id="btnCancelEdit" class="btn btn-default" type="button" data-bind="visible: Cancel.Visible, enable: Cancel.Enabled" value="@GeneralResource.LabelGetOut" />
    </div>
</div>

<script type="text/javascript">
    ns('Yanbal.SFT.Presentation.Web.Freight.Combination.Models');
    Yanbal.SFT.Presentation.Web.Freight.Combination.Models.Edit = @(Html.Raw(Json.Encode(Model)));
</script>
