@using Yanbal.SFT.Presentation.Web.Source.Resources.Shared
@using Yanbal.SFT.Presentation.Web.Source.Resources.Policy.UbigeoZoneType
@using Yanbal.SFT.Presentation.Web.Source.Models.Policy;
@using Yanbal.SFT.FreightManagement.Common.Messages;
@model UbigeoZoneTypeModel

<div class="w-formulario-popup">
    <div class="w-title-2">
        @Html.Raw(IndexResource.LabelTitleEdit)
    </div>
    <div id="divRequiredField">
        <span class="fa fa-info-circle"></span>
        <span>@GeneralResource.LabelRequiredField1<span class="danger">*</span>@GeneralResource.LabelRequiredField2</span>
    </div>
    <hr />
    <div class="w-form">
        <div id="divContainerEdit" class="w-item">
            <form id="frmEditUbigeoZoneType">
                <div id="divEditUbigeoZoneType">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(IndexResource.LabelCountry):</label>
                                    <div class="col-sm-8">
                                        <label class="col-sm-5 control-label-bold">@Html.Raw(Model.NameCountry)</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(Model.LabelGeoLevel1):</label>
                                    <div class="col-sm-8">
                                        <select id="slcLevel1Edit" class="form-control" data-bind="options: ListZoneLevel1, optionsText: 'Name', optionsValue: 'Id', value: '@Model.CodeLevel1', optionsCaption: '@Html.Raw(GeneralResource.LabelSelect)'">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(Model.LabelGeoLevel2):</label>
                                    <div class="col-sm-8">
                                        <select id="slcLevel2Edit" class="form-control" data-bind="options: ListZoneLevel2, optionsText: 'Name', optionsValue: 'Id', value: '@Model.CodeLevel2', optionsCaption: '@Html.Raw(GeneralResource.LabelSelect)'">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(Model.LabelGeoLevel3):</label>
                                    <div class="col-sm-8">
                                        <select id="slcLevel3Edit" class="form-control" data-bind="options: ListZoneLevel3, optionsText: 'Name', optionsValue: 'Id', value: '@Model.CodeLevel3', optionsCaption: '@Html.Raw(GeneralResource.LabelSelect)'">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(IndexResource.LabelZoneType)<span class="danger">*</span>:</label>
                                    <div class="col-sm-8">
                                        <select id="slcZoneTypeEdit" class="form-control" data-bind="options: ListTypeZone, optionsText: 'Name', optionsValue: 'Id', value: '@Model.CodeTypeZone'">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(IndexResource.LabelCodeUbigeo):</label>
                                    <div class="col-sm-8">
                                        <label id="lblCodeUbigeoEdit" class="col-sm-5 control-label-bold"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(GeneralResource.LabelRegistrationStatus):</label>
                                    <div class="col-sm-8">
                                        <select id="slcRegistrationStatusEdit" data-bind="options: ListRegistrationStatus, optionsText: 'Name', optionsValue: 'Id', value: '@Model.RegistrationStatus'" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(GeneralResource.LabelModificationReason)<span class="danger">*</span>:</label>
                                    <div class="col-sm-8">
                                        <textarea id="txtModificationReasonEdit" class="w-textarea" maxlength="255" validable="Comment true" placeholder="@Html.Raw(GeneralResource.LabelModificationReason)"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="cnt-button">
        <input id="btnSaveEdit" class="btn btn-primary" type="button" data-bind="visible: Save.Visible, enable: Save.Enabled" value="@GeneralResource.LabelSave"/>
        <input id="btnCancelEdit" class="btn btn-default" type="button" data-bind="visible: Cancel.Visible, enable: Cancel.Enabled" value="@GeneralResource.LabelGetOut" />
    </div>
</div>

<script type="text/javascript">
    ns('Yanbal.SFT.Presentation.Web.Policy.UbigeoZoneType.Models');
    Yanbal.SFT.Presentation.Web.Policy.UbigeoZoneType.Models.Edit = @(Html.Raw(Json.Encode(Model)));
</script>