@using Yanbal.SFT.Presentation.Web.Source.Resources.Shared
@using Yanbal.SFT.Presentation.Web.Source.Resources.Policy.BusinessUnit
@using Yanbal.SFT.Presentation.Web.Source.Models.Policy;
@using Yanbal.SFT.FreightManagement.Common.Messages;
@model BusinessUnitModel

<div class="w-formulario-popup">
    <div class="w-title-2">
        @Html.Raw(IndexResource.LabelTitleEdit)
    </div>
    <div id="divRequiredField">
        <span class="fa fa-info-circle"></span>
        <span>@GeneralResource.LabelRequiredField1<span class="danger">*</span>@GeneralResource.LabelRequiredField2</span>
    </div>
    <hr />
    <div class="w-form">
        <div id="divContainerEdit" class="w-item">
            <form id="frmEditBusinessUnit">
                <div id="divEditBusinessUnit">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(IndexResource.LabelCountry)<span class="danger">*</span>:</label>
                                    <div class="col-sm-8">
                                        <select id="slcCountryEdit" class="form-control" validable="required CountryReq" data-bind="options: ListCountry, optionsText: 'Name', optionsValue: 'Id', value:'@Model.CountryCode'">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(IndexResource.LabelBusinessUnitName)<span class="danger">*</span>:</label>
                                    <div class="col-sm-8">
                                        <input id="txtBusinessUnitNameEdit" maxlength="255" type="text" value="@Model.BusinessUnitName" validable="required BusinessUnitNameReq" class="form-control" placeholder="@Html.Raw(IndexResource.LabelBusinessUnitName)" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(IndexResource.LabelAddress)<span class="danger">*</span>:</label>
                                    <div class="col-sm-8">
                                        <input id="txtAddressEdit" maxlength="255" type="text" value="@Model.BusinessAddress" validable="required AddressReq" class="form-control" placeholder="@Html.Raw(IndexResource.LabelAddress)" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(GeneralResource.LabelRegistrationStatus):</label>
                                    <div class="col-sm-8">
                                        <select id="slcRegistrationStatusEdit" class="form-control" data-bind="options: ListRegistrationStatus, optionsText: 'Name', optionsValue: 'Id', value:'@Model.RegistrationStatus'">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(GeneralResource.LabelModificationReason)<span class="danger">*</span>:</label>
                                    <div class="col-sm-8">
                                        <textarea id="txtModificationReasonEdit" class="w-textarea" maxlength="255" validable="Comment true" placeholder="@Html.Raw(GeneralResource.LabelModificationReason)"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="cnt-button">
        <input id="btnSaveEdit" class="btn btn-primary" type="button" data-bind="visible: Save.Visible, enable: Save.Enabled" value="@GeneralResource.LabelSave"/>
        <input id="btnCancelEdit" class="btn btn-default" type="button" data-bind="visible: Cancel.Visible, enable: Cancel.Enabled" value="@GeneralResource.LabelGetOut" />
    </div>
</div>

<script type="text/javascript">
    ns('Yanbal.SFT.Presentation.Web.Policy.BusinessUnit.Models');
    Yanbal.SFT.Presentation.Web.Policy.BusinessUnit.Models.Edit = @(Html.Raw(Json.Encode(Model)))
</script>