@using Yanbal.SFT.FreightManagement.Common.Messages
@using Yanbal.SFT.Presentation.Web.Source.Resources.Shared
@using Yanbal.SFT.Presentation.Web.Source.Resources.Policy.ParameterSection
@using Yanbal.SFT.Presentation.Web.Source.Models.Policy
@model ParameterSectionModel

<div class="w-formulario-popup">
    <div class="w-title-2">
        @Html.Raw(IndexResource.LabelTitleNew)
    </div>
    <div id="divRequiredField">
        <span class="fa fa-info-circle"></span>
        <span>@GeneralResource.LabelRequiredField1<span class="danger">*</span>@GeneralResource.LabelRequiredField2</span>
    </div>
    <hr />
    <div class="w-form">
        <div id="divCreateContainer" class="w-item">
            <form id="frmCreateParameterSection">
                <div id="divCreateParameterSection">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(IndexResource.LabelSectionName)<span class="danger">*</span>:</label>
                                    <div class="col-sm-8">
                                        <input id="txtSectionName" class="form-control" type="text" maxlength="100" validable="required NameReq" placeholder="@Html.Raw(IndexResource.LabelSectionName)" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(IndexResource.LabelSectionType)<span class="danger">*</span>:</label>
                                    <div class="col-sm-8">
                                        <select id="slcSectionType" class="form-control" validable="required SectionTypeReq" data-bind="options: ListSectionType, optionsText: 'Name', optionsValue: 'Id', optionsCaption: '@Html.Raw(GeneralResource.LabelSelect)'">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(IndexResource.LabelReadOnly):</label>
                                    <div class="col-sm-5">
                                        <p></p>
                                        <input id="chkReadOnly" type="checkbox" name="chkReadOnly" checked="checked" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(IndexResource.LabelRequired):</label>
                                    <div class="col-sm-5">
                                        <p></p>
                                        <input id="chkRequired" type="checkbox" name="chkRequired" checked="checked" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@Html.Raw(GeneralResource.LabelRegistrationStatus):</label>
                                    <div class="col-sm-8">
                                        <label class="col-sm-5 control-label-bold">@Html.Raw(Model.LabelRegistrationStatus)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="cnt-button">
        <input id="btnSaveParameterSection" class="btn btn-primary" type="button" data-bind="visible: Save.Visible, enable: Save.Enabled" value="@GeneralResource.LabelSave"/>
        <input id="btnCancelParameterSection" class="btn btn-default" type="button" data-bind="visible: Cancel.Visible, enable: Cancel.Enabled" value="@GeneralResource.LabelGetOut" />
    </div>
</div>

<script type="text/javascript">
    ns('Yanbal.SFT.Presentation.Web.Policy.ParameterSection.Models');
    Yanbal.SFT.Presentation.Web.Policy.ParameterSection.Models.Create = @(Html.Raw(Json.Encode(Model)));
</script>
